{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "$": true,
    "$j": true,
    "angular": true,
    "inject": true,
    "module": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.spec.js"]}],
    "linebreak-style": "off",
    "max-len": "off",
    "no-param-reassign": "off",
    "no-prototype-builtins": "off",
    "no-underscore-dangle": "off",
  }
}
